
<link href="../Content/assets/global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" type="text/css" />
<script src="../Content/assets/global/plugins/jstree/dist/jstree.min.js" type="text/javascript"></script>
<script>
    //让表格数据可排序
    $(document).ready(function () {
        $("#table").tablesorter();
    })
    //保存cookie
    function setCookie(name, value) {
        var Days = 30;
        var exp = new Date();
        exp.setTime(exp.getTime() + Days * 24 * 60 * 60 * 1000);
        document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString() + ";path=/";
    }
    //点击搜索的功能
    function submitFn(obj, evt) {
        value = $(obj).find('#search-input').val().trim();
        setCookie("acivityname", value);
        window.location.href = "/Home/ActivityList";
        evt.preventDefault();
    }
</script>
<hr />
<div ng-app="atTheActivity">
    <div ng-controller="ListController" class="table-responsive">
        <a href="" ng-click="create()" class="btn btn-info" data-toggle="modal" data-target="#createModal" ng-show="haveLogin()" style="float:left">新增</a>
        <form onsubmit="submitFn(this, event);">
            <button type="submit" class="btn btn-info" style="float:right">搜索</button>
            <input type="text" id="search-input" placeholder="请输入搜索词" data-autocomplete-source="/Home/QuickSearch" class="form-control" style="float:right">
        </form>
        <table class="table table-striped" id="table">
            <thead>
                <tr>
                    <th>环节序号</th>
                    <th>环节名称</th>
                    <th>流程序号</th>
                    <th>排序</th>
                    <th ng-show="haveLogin()">操作</th>
                </tr>
            </thead>
            <tr ng-repeat="activity in activitys">
                <td>{{activity.Id}}</td>
                <td>{{activity.Name}}</td>
                <td>{{activity.ProcessId}}</td>
                <td>{{activity.Sort}}</td>
                <td ng-show="haveLogin()">
                    <a href="" ng-click="edit(activity)" data-toggle="modal" data-target="#createModal" class="btn btn-info">编辑</a>
                    <a href="" ng-click="confirmdelete(activity)" data-toggle="modal" data-target="#confirmModal" class="btn btn-info">删除</a>
                </td>
            </tr>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="javascript:void(0);" ng-click="Previous()" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li ng-repeat="page in pages" ng-class="{'active':isActivePage(page.page)}">
                    <a href="javascript:void(0);" ng-click="selectPage(page.page)">{{page.page}}</a>
                </li>

                <li>
                    <a href="javascript:void(0);" ng-click="Next()" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!--编辑数据的模态框-->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="EditController">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{edit.model}}</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <fieldset>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">环节名称</span>
                                    <input id="name" type="text" ng-model="edit.activity.Name" required class="form-control" placeholder="环节名称" />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">流程序号</span>
                                    <input id="processid" type="text" ng-model="edit.activity.ProcessId" required class="form-control" placeholder="流程序号" />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">流程名称</span>
                                    <select class="form-control" ng-model="edit.activity.ProcessId">
                                        <option ng-repeat="item in edit.activity.Processes" value="{{item.Id}}">{{item.Name}}</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">排序</span>
                                    <input id="sort" type="text" ng-model="edit.activity.Sort" required class="form-control" placeholder="排序" />
                                </div>
                                <div id="tree_1" class="tree-demo">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="modal fade" tabindex="-1" role="dialog" id="confirmModal" ng-controller="ListController">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">确定要删除以下数据吗</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <span class="input-group-addon">环节名称</span>
                            <input id="name" type="text" ng-model="del.activity.Name" required class="form-control" placeholder="ActivityName" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="delete(del.activity)">确定</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>

</div>
