@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Client/Scripts/FormTemp/atTheFormTemp.js"></script>
    <script src="~/Client/Services/formTempService.js"></script>
    <script src="~/Client/Scripts/FormTemp/ListController.js"></script>
<script src="~/Client/Scripts/FormTemp/EditController.js"></script>
}

<div data-ng-app="atTheFormTemp">
    <div ng-view></div>
</div>
