@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Client/Scripts/Project/atTheProject.js"></script>
    <script src="~/Client/Services/projectService.js"></script>
    <script src="~/Client/Scripts/Project/ListController.js"></script>
    <script src="~/Client/Scripts/Project/EditController.js"></script>

}
@section headcss{
    <style>
        .firstTab {
            width: 33.3%;
        }

        .secondTab {
            width: 66.7%;
        }

        .thirdTab {
            width: 100%;
        }
    </style>
}

<div data-ng-app="atTheProject">
    <div ng-view></div>
</div>
