@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Client/Scripts/WorkItem/atTheWorkItem.js"></script>
    <script src="~/Client/Services/workitemService.js"></script>
    <script src="~/Client/Scripts/WorkItem/ListController.js"></script>
<script src="~/Client/Scripts/WorkItem/EditController.js"></script>
<script src="~/Content/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <script>
        setCookie("type",@ViewBag.Type);
    </script>
}
@section headcss{
    <link href="~/Content/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
}
<div data-ng-app="atTheWorkItem">
    <div ng-view></div>
</div>
