@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Client/Scripts/WorkItem/atTheWorkItem.js"></script>
    <script src="~/Client/Services/workitemService.js"></script>
    <script src="~/Client/Scripts/WorkItem/ListController.js"></script>
<script src="~/Client/Scripts/WorkItem/EditController.js"></script>
    <script>
        setCookie("type",@ViewBag.Type);
    </script>
}

<div data-ng-app="atTheWorkItem">
    <div ng-view></div>
</div>
