<script>
    $(document).ready(function () {
        $("#table").tablesorter();
    })
</script>
<div class="portlet box green" ng-app="atTheWorkItem">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>表单
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="javascript:;" class="reload"> </a>
            <a href="javascript:;" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body form" ng-controller="EditController">
        <!-- BEGIN FORM-->
        <form action="#" class="form-horizontal">
            <div class="form-body" id="formInst" ng-bind-html="edit.workitem.formInst">

            </div>
            <div class="table-responsive">
                <a href="" ng-click="upload()" class="btn btn-info" data-toggle="modal" data-target="#createModal" ng-show="haveLogin()" style="float:left">新增</a>
                <table class="table table-striped" id="table">
                    <thead>
                        <tr>
                            <th>材料序号</th>
                            <th>材料名称</th>
                            <th>材料路径</th>
                            <th>材料模板实例序号</th>
                            <th ng-show="haveLogin()">操作</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="material in materials">
                        <td>{{material.Id}}</td>
                        <td>{{material.Name}}</td>
                        <td>{{material.Path}}</td>
                        <td>{{material.MaterialTempInstId}}</td>
                        <td ng-show="haveLogin()">
                            <a href="" ng-click="download(material)" class="btn btn-info">下载</a>
                        </td>
                    </tr>
                </table>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="javascript:void(0);" ng-click="Previous()" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li ng-repeat="page in pages" ng-class="{'active':isActivePage(page.page)}">
                            <a href="javascript:void(0);" ng-click="selectPage(page.page)">{{page.page}}</a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" ng-click="Next()" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="EditController">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{{edit.model}}</h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <fieldset>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">材料名称</span>
                                            <input id="name" type="text" ng-model="edit.material.Name" readonly class="form-control" placeholder="材料名称" />
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">材料路径</span>
                                            <input id="path" type="text" ng-model="edit.material.Path" readonly class="form-control" placeholder="材料路径" />
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">材料模板实例序号</span>
                                            <input id="materialtempinstid" type="text" ng-model="edit.material.MaterialTempInstId" required class="form-control" placeholder="材料模板实例序号" />
                                        </div>
                                        <div class="form-group">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="input-group input-large">
                                                    <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                        <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                        <span class="fileinput-filename"> </span>
                                                    </div>
                                                    <span class="input-group-addon btn default btn-file">
                                                        <span class="fileinput-new"> 选择文件 </span>
                                                        <span class="fileinput-exists"> 更换 </span>
                                                        <input type="file" id="file" onchange="angular.element(this).scope().fileSelected(this)">
                                                    </span>
                                                    <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> 移除 </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createMaterial()">保存</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button ng-click="getNextActivityUsers()" type="button" data-toggle="modal" data-target="#selectUserModal" class="btn btn-circle green">发送</button>
                        <button type="button" class="btn btn-circle grey-salsa btn-outline">取消</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
    <!--选择发送人员的模态框-->
    <div class="modal fade" id="selectUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="EditController">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">请选择发送人员</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <fieldset>
                            <div class="input-group">
                                <span class="input-group-addon">下一环节</span>
                                <input id="nextactivity" type="text" ng-model="edit.workitem.NextActivity.Name" required class="form-control" placeholder="环节名称" />
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">用户名称</span>
                                <select class="form-control" ng-model="edit.workitem.NextUserId">
                                    <option ng-repeat="item in edit.workitem.NextUsers" value="{{item.Id}}">{{item.Name}}</option>
                                </select>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="submit()">发送</button>
                </div>
            </div>
        </div>
    </div>
</div>