<script>
    //让表格数据可排序
    $(document).ready(function () {
        $("#table").tablesorter();
    })
    //保存cookie
    function setCookie(name, value) {
        var Days = 30;
        var exp = new Date();
        exp.setTime(exp.getTime() + Days * 24 * 60 * 60 * 1000);
        document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString() + ";path=/";
    }
    //点击搜索的功能
    function submitFn(obj, evt) {
        value = $(obj).find('#search-input').val().trim();
        setCookie("classname", value);
        window.location.href = "/Home/ClassList";
        evt.preventDefault();
    }
</script>
<hr />
<div ng-app="atTheProject">
    <div ng-controller="ListController" class="table-responsive">
        <!--<a href="" ng-click="create()" class="btn btn-info" data-toggle="modal" data-target="#createModal" ng-show="haveLogin()" style="float:left">新增</a>-->
        <a href="" ng-click="create()" class="btn btn-info" ng-show="haveLogin()" style="float:left">新建</a>
        <form onsubmit="submitFn(this, event);">
            <button type="submit" class="btn btn-info" style="float:right">搜索</button>
            <input type="text" id="search-input" placeholder="请输入搜索词" data-autocomplete-source="/Home/QuickSearch" class="form-control" style="float:right">
        </form>
        <table class="table table-striped" id="table">
            <thead>
                <tr>
                    <th>项目序号</th>
                    <th>项目名称</th>
                    <th>项目编号</th>
                    <th>创建人序号</th>
                    <th>办理人序号</th>
                    <th>状态</th>
                    <th>业务序号</th>
                    <th>工作项序号</th>
                    <th>备注</th>
                    <th>创建时间</th>
                    <th>结束时间</th>
                    <th ng-show="haveLogin()">操作</th>
                </tr>
            </thead>
            <tr ng-repeat="project in projects">
                <td>{{project.Id}}</td>
                <td>{{project.Name}}</td>
                <td>{{project.ProjectNo}}</td>
                <td>{{project.CreateUserId}}</td>
                <td>{{project.CurrentUserId}}</td>
                <td>{{project.State}}</td>
                <td>{{project.BusinessId}}</td>
                <td>{{project.WorkItemId}}</td>
                <td>{{project.Remark}}</td>
                <td>{{project.CreateTime}}</td>
                <td>{{project.EndTime}}</td>
                <td ng-show="haveLogin()">
                    <a href="" ng-click="edit(project)" data-toggle="modal" data-target="#createModal" class="btn btn-info">编辑</a>
                    <a href="" ng-click="confirmdelete(project)" data-toggle="modal" data-target="#confirmModal" class="btn btn-info">删除</a>
                </td>
            </tr>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="javascript:void(0);" ng-click="Previous()" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li ng-repeat="page in pages" ng-class="{'active':isActivePage(page.page)}">
                    <a href="javascript:void(0);" ng-click="selectPage(page.page)">{{page.page}}</a>
                </li>

                <li>
                    <a href="javascript:void(0);" ng-click="Next()" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!--编辑数据的模态框-->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="EditController">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{edit.model}}</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <fieldset>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">项目名称</span>
                                    <input id="name" type="text" ng-model="edit.project.Name" required class="form-control" placeholder="项目名称" />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">项目编号</span>
                                    <input id="projectno" type="text" ng-model="edit.project.ProjectNo" required class="form-control" placeholder="项目编号" />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">创建人序号</span>
                                    <input id="createuserId" type="text" ng-model="edit.project.CreateUserId" required class="form-control" placeholder="创建人序号" />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">办理人序号</span>
                                    <input id="currentuserId" type="text" ng-model="edit.project.CurrentUserId" required class="form-control" placeholder="办理人序号" />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">状态</span>
                                    <input id="state" type="text" ng-model="edit.project.State" required class="form-control" placeholder="状态" />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">业务序号</span>
                                    <input id="businessid" type="text" ng-model="edit.project.BusinessId" required class="form-control" placeholder="业务序号" />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">工作项序号</span>
                                    <input id="workitemid" type="text" ng-model="edit.project.WorkItemId" required class="form-control" placeholder="工作项序号" />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">备注</span>
                                    <input id="remark" type="text" ng-model="edit.project.Remark" required class="form-control" placeholder="备注" />
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="modal fade" tabindex="-1" role="dialog" id="confirmModal" ng-controller="ListController">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">确定要删除以下数据吗</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <span class="input-group-addon">项目名称</span>
                            <input id="name" type="text" ng-model="del.project.Name" required class="form-control" placeholder="ProjectName" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="delete(del.project)">确定</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>

</div>
